fastapi==0.115.11
nltk==3.9.1
pandas
psycopg2-binary
pyspark==3.5.5
sqlalchemy
torch
tqdm==4.67.1
transformers==4.49.0
uvicorn==0.34.0
numpy==1.26.4
fasttext
python-multipart
fastparquet
fasttext-wheel
beautifulsoup4
tldextract
requests
nltk
textstat
peft
pydantic
spacy